
 .ant-image-img {
   padding-right: 10px;

 }

.ant-image-preview-img {
  top: 100;
  position: absolute;
  width: 50%;
}

.ant-image-preview-img-wrapper {
  display: flex;
  height: 100%;
  width: 50%;
  left: 0;
  justify-content: center;
}

.btn-group {
justify-content: center;
padding: 10px;
}

.area-view-image {
/*height: 500px;*/
}

.previewImage {
background-color: #dc3545;
}

.hoverImage{
  display: none;
}

.video-style {
}

.content-data {
}

.row-content{

}
